---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Width of the content area
$content-width:    1108px;

// Media query mixin
@mixin breakpoint($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// Media queries
$q-small: 500px;
$q-medium: 700px;
$q-large: 900px;
$on-palm: 600px;
$on-laptop: 800px;


// Variables
$base-font-weight: 400;
$base-line-height: 1.5;
$spacing-unit: 25px; // same as gutter

$black: #212121;
$black-lt: rgba(0,0,0,.5);
$gray: #797878;
$eggplant: #140c1b;
$raspberry: #730728;
$cream: #f9f8f5;
$white: #ffffff;

$text-color: $black;
$link-color: $raspberry;
$link-hover-color: $eggplant;
$background-color: $white;

$spacing-xxs: 3px;
$spacing-xs: 6px;
$spacing-s: 8px;
$spacing-m: 12px;
$spacing-l: 20px;
$spacing-xl: 25px;
$spacing-xxl: 30px;
$spacing-xxxl: 45px;
$spacing-xxxxl: 60px;


.spacing-xxs > * + * { margin-top: 2px; }
.spacing-xs > * + * { margin-top: 6px; }
.spacing-s > * + * { margin-top: 8px; }
.spacing-m > * + * { margin-top: 12px; }
.spacing-l > * + * { margin-top: 20px; }
.spacing-xl > * + * { margin-top: 25px; }
.spacing-xxl > * + * { margin-top: 30px; }
.spacing-l-xl-at-small > * + * {
  margin-top: $spacing-l;
  @include breakpoint($q-small) {
    margin-top: $spacing-xl;
  }
}


// Type styles

@mixin dolly {
  font-family: "Dolly Pro", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
}

@mixin fort {
  font-family: "Fort", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.serif-l {
  @include dolly;
  font-size: 21px;
  line-height: 28px;
  @include breakpoint($q-medium) {
    font-size: 28px;
    line-height: 40px;
  }
}

.serif-m-italic {
  @include dolly;
  font-style: italic;
  font-size: 17px;
  line-height: 20px;
  @include breakpoint($q-medium) {
    font-size: 20px;
    line-height: 30px;
  }
}

.serif-s {
  @include dolly;
  font-size: 17px;
  line-height: 28px;
  @include breakpoint($q-medium) {
    font-size: 18px;
    line-height: 30px;
  }
}

.serif-s-italic {
  @include dolly;
  font-size: 17px;
  line-height: 28px;
  font-style: italic;
  @include breakpoint($q-medium) {
    font-size: 18px;
    line-height: 30px;
  }
}

.serif-xs {
  @include dolly;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .02em;
  @include breakpoint($q-medium) {
    font-size: 18px;
    line-height: 30px;
  }
}

.sans-xl-bold {
  @include fort;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  @include breakpoint($q-medium) {
    font-size: 36px;
  }
}

.sans-l-bold {
  @include fort;
  font-weight: bold;
  font-size: 21px;
  line-height: 23px;
  @include breakpoint($q-medium) {
    font-size: 28px;
    line-height: 33px;
  }
}

.sans-m-bold {
  @include fort;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  @include breakpoint($q-medium) {
    font-size: 20px;
    line-height: 33px;
  }
}

.sans-s-bold {
  @include fort;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  @include breakpoint($q-medium) {
    font-size: 14px;
    line-height: 20px;
  }
  a {
    color: $text-color;
    text-decoration: underline;
    &:hover {
      color: $link-color;
    }
  }
}

.sans-s-italic {
  @include fort;
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
  @include breakpoint($q-medium) {
    font-size: 14px;
    line-height: 20px;
  }
}

.sans-s {
  @include fort;
  font-size: 12px;
  line-height: 16px;
  @include breakpoint($q-medium) {
    font-size: 14px;
    line-height: 20px;
  }
}

.sans-xs-bold-all-caps {
  @include fort;
  font-weight: bold;
  font-size: 11px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: .07em;
}

// post markdown classes

.post {
  h1 { @extend .sans-xl-bold; }

  h2 {
    @extend .sans-l-bold;
    margin-bottom: $spacing-s;
  }

  h3 {
    @extend .sans-m-bold;
    margin-bottom: $spacing-xxs;
  }

  h2 + h3 {
    margin-top: $spacing-m;
  }

  p {
    @extend .serif-s;
    margin-bottom: $spacing-m;
    strong {
      font-family: "Fort", Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
    &.caption {
      @extend .sans-s-bold;
      em {
        font-weight: normal;
        font-style: normal;
      }
    }
  }

  p + h2 {
    margin-top: $spacing-l;
  }

  p + h3 {
    margin-top: $spacing-m;
  }

  p + ol, p + ul {
    margin-top: $spacing-m;
  }

  ol, ul {
    @extend .sans-s;
    list-style-type: none;
    margin-bottom: $spacing-m;
    li {
      margin-bottom: $spacing-s;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  ul {
    li:before {
    	content: "-";
      color: rgba(0,0,0,0.3);
      font-weight: bold;
      display: inline-block;
      margin-left: -10px;
    	width: 10px;
    }
    li {
      padding-left: 10px;
    }
  }

  ol {
    li {
      counter-increment: step-counter;
      position: relative;
      margin-left: 0;
      padding-left: 30px;
      &:before {
        content: counter(step-counter);
        color: $gray;
        font-weight: bold;
        width: 20px;
        text-align: right;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  ol + h2, ul + h2 {
    margin-top: $spacing-l;
  }

  ol + h3, ul + h3 {
    margin-top: $spacing-m;
  }

}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
