---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
$base-font-weight: 400;
$base-line-height: 1.5;
$spacing-unit:     30px; // delete this later //

$black: #212121;
$black-lt: rgba(0,0,0,.5);
$gray: #797878;
$eggplant: #140c1b;
$raspberry: #730728;
$cream: #f9f8f5;
$white: #ffffff;

$text-color: $black;
$link-color: $raspberry;
$link-hover-color: $eggplant;
$background-color: $white;

.spacing-xs > * + * { margin-top: 5px; }
.spacing-s > * + * { margin-top: 10px; }
.spacing-m > * + * { margin-top: 12px; }
.spacing-l > * + * { margin-top: 20px; }
.spacing-xl > * + * { margin-top: 25px; }
.spacing-xxl > * + * { margin-top: 30px; }
$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 12px;
$spacing-l: 20px;
$spacing-xl: 25px;
$spacing-xxl: 30px;


// Type styles

%dolly {
  font-family: "Dolly Pro";
  font-style: normal;
  font-weight: normal;
}

%fort {
  font-family: "Fort";
  font-style: normal;
  font-weight: normal;
}

.serif-l {
  @extend %dolly;
  font-size: 20px;
  line-height: 28px;
  //@include media-query() {
    //font-size: 28px;
    //line-height: 40px;
  //}
}

.serif-m-italic {
  @extend %dolly;
  font-style: italic;
  font-size: 17px;
  line-height: 20px;
  //@include media-query() {
    //font-size: 20px;
    //line-height: 30px;
  //}
}

.serif-s {
  @extend %dolly;
  font-size: 15px;
  line-height: 24px;
  //letter-spacing: 1em;
  //@include media-query() {
    //font-size: 18px;
    //line-height: 30px;
  //}
}

.serif-xs {
  @extend %dolly;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .02em;
  //letter-spacing: 1em;
  //@include media-query() {
    //font-size: 18px;
    //line-height: 30px;
  //}
}

.sans-xl-bold {
  @extend %fort;
  font-weight: bold;
  font-size: 36px;
  //line-height: ;
  //@include media-query() {
    //font-size: 36px;
    //line-height: ;
  //}
}

.sans-l-bold {
  @extend %fort;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  //@include media-query() {
    //font-size: 28px;
    //line-height: 33px;
  //}
}

.sans-m-bold {
  @extend %fort;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  //@include media-query() {
    //font-size: 20px;
    //line-height: 33px;
  //}
}

.sans-s-bold {
  @extend %fort;
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  //letter-spacing: 1em;
  //@include media-query() {
    //font-size: 14px;
    //line-height: 20px;
  //}
  a {
    color: $text-color;
    text-decoration: underline;
    &:hover {
      color: $link-color;
    }
  }
}

.sans-s-italic {
  @extend %fort;
  font-style: italic;
  font-size: 11px;
  line-height: 14px;
  //@include media-query() {
    //font-size: 14px;
    //line-height: 20px;
  //}
}

.sans-s {
  @extend %fort;
  font-size: 11px;
  line-height: 14px;
  //letter-spacing: 1em;
  //@include media-query() {
    //font-size: 14px;
    //line-height: 20px;
  //}
}

.sans-xs-bold-all-caps {
  @extend %fort;
  font-weight: bold;
  font-size: 11px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: .07em;
  //@include media-query() {
    //font-size: 12px;
    //line-height: 20px;
  //}
}




// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
