---
layout: default
---

<div class="home">

  <div class="header">
    <p class="serif-l">I’m a designer making content both beautiful and approachable, busy crafting systems and experiences for the web.</p>

    <p class="sans-s-bold">But wait, there's <a href="#">more</a>.

    <div class="about">
      <div class="bio">
        <p class="serif-s">I’m interested in the intersection between the designs we create, the content we produce, and the systems that power both. My work celebrates typographic detail and complex layers of information. Rumor has it, I’m also a grammar stickler with an exacting eye—an absent comma I can’t unsee.</p>
        <p class="serif-s">Since 2012, I’ve worked at <a href="http://happycog.com/">Happy Cog</a>, where I design custom, responsive websites for clients like Ben &amp; Jerry's, Coldwell Banker, and Harvard University. My responsibilities span from conducting research and gathering requirements to modeling content and conceptualizing design solutions.</p>
        <p class="serif-s">I earned an MFA in Graphic Design from Maryland Institute College of Art and BA in Communication Design from the University of Pennsylvania.</p>
      </div>
      <div class="speaking">
        <h2 class="sans-m-bold">Speaking &amp; teaching</h2>
        <ul>
          <li><span class="sans-s-bold">Instructor</span><span class="sans-s-italic">Typography II</span>
            <span class="sans-s">Maryland Institute College of Art, Baltimore MD</span>
            <span class="sans-s">2016</span>
          </li>
          <li><span class="sans-s-bold">Panelist</span><span class="sans-s-italic">Undergraduate Fine Arts Alumni Career Panel</span><br>
            <span class="sans-s">Institute of Contemporary Art, University of Pennsylvania, Philadelphia, PA</span><br>
            <span class="sans-s">2015</span>
          </li>
          <li><span class="sans-s-bold">Speaker</span><a class="sans-s-italic" href="http://www.slideshare.net/Saraboettcher/all-together-now-content-collaboration-in-a-responsive-redesign">“All Together Now: Content &amp; Collaboration in a Responsive Redesign”</a><br>
            <span class="sans-s">Confab Central, Minneapolis, MN</span><br>
            <span class="sans-s">2014</span>
          </li>
          <li><span class="sans-s-bold">Guest Lecturer</span><span class="sans-s-italic">Typography II</span><br>
            <span class="sans-s">Maryland Institute College of Art, Baltimore MD</span><br>
            <span class="sans-s">2012</span>
          </li>
          <li><span class="sans-s-bold">Graduate Teaching Intern</span><span class="sans-s-italic">Graphic Design I</span><br>
            <span class="sans-s">Maryland Institute College of Art, Baltimore MD</span><br>
            <span class="sans-s">2010</span>
          </li>
          <li><span class="sans-s-bold">Classroom Assistant</span><span class="sans-s-italic">Graphic Design</span><br>
            <span class="sans-s">University of Pennsylvania, Philadelphia, PA</span><br>
            <span class="sans-s">2008</span>
          </li>
        </ul>
      </div>
      <div class="topics">
        <h2 class="sans-m-bold">Let's talk more about</h2>
        <ul>
          <li class="sans-s">Typefaces, new or old, for print or web</li>
          <li class="sans-s"><span class="sans-s-italic">West Wing</span>, <span class="sans-s-italic">The Wire</span>, or your TV show of choice</li>
          <li class="sans-s">My latest experiments with sous vide and breadmaking, and recipes you stand by</li>
          <li class="sans-s">Tennis rivalries in the Open era</li>
          <li class="sans-s">Walking routes in Philadelphia</li>
        </ul>
      </div>
      <div class="interviews">
        <h2 class="sans-m-bold">Selected interviews</h2>
        <ul>
          <li><a class="sans-s-bold" href="http://ladiesintech.com/podcast-aura-seltzer/">Ladies in Tech</a><br><span class="sans-s">2014</span></li>
        </ul>
      </div>
    </div>

  </div> <!-- end header -->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <span class="post-meta-subtitle">{{ post.subtitle}}</span>
          <h2 class="sans-l-bold">{{ post.title }}</h2>
        </a>
        <p class="serif-s">{{ post.short-description }}</p>
      {% if post.source %}
        <p class="post-meta-source">Published on <a href="{{ post.source-url }}">{{ post.source }}</a></p>
      {% endif %}
      <a href="#" class="post-meta-category">{{ post.categories }}</a>
      {% if post.categories contains "project" %}
        <span class="post-meta-date">{{ post.date | date: "%Y"}}</span>
      {% endif %}
      {% if post.categories contains "article" %}
        <span class="post-meta-date">{{ post.date | date: "%-m/%-d/%y"}}</span>
      {% endif %}
      {% if post.categories contains "podcast" %}
        <span class="post-meta-date">{{ post.date | date: "%-m/%y"}}</span>
      {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>


<!-- | date: "%b %-d, %Y" -->
