{% if page.short-name contains "db" %}
  <div class="project-credits spacing-m">
    <p class="post-meta-source">Designed at <a href="http://happycog.com/">Happy Cog</a></p>
    <div class="collaborators">
      <p class="sans-xs-bold-all-caps">Collaborators</p>
      <ul class="spacing-xxs">
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://www.courtneysabo.com/">Courtney Sabo</a> Project definition, user experience, design system, usability testing</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://abbyfretz.com/">Abby Fretz</a> Project definition, project management, usability testing</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://amandabuck.com">Amanda Buck</a> Design system, implementation support</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="https://twitter.com/markhuot">Mark Huot</a> Front-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://alliwagner.com/">Allison Wagner</a> Front-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="https://twitter.com/mrpaulphan">Paul Phan</a> Front-end development, implementation support</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="https://southleft.com/">TJ Pitre</a> Front-end development</li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Typefaces</p>
      <p class="sans-s">Domaine Display, Open Sans</p>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Related media coverage</p>
      <ul>
        <li><em>Racked</em>, <a href="https://www.racked.com/2015/6/2/8699571/davids-bridal-wedding-dress">"David's Bridal Doesn't Want to Be the Walmart of Weddings Anymore"</a> (6/2/2015)</li>
      </ul>
    </div>
  </div>
{% endif %}

{% if page.short-name contains "nyit" %}
  <div class="project-credits spacing-m">
    <p class="post-meta-source">Designed at <a href="http://happycog.com/">Happy Cog</a></p>
    <div>
      <p class="sans-xs-bold-all-caps">Live site</p>
      <p class="sans-s"><a href="http://nyit.edu/">nyit.edu</a></p>
    </div>
    <div class="collaborators">
      <p class="sans-xs-bold-all-caps">Collaborators</p>
      <ul class="spacing-xxs">
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://mleland.com/">Michael Johnson</a> Project definition, architecture, user experience, creative direction</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://nicolefenton.com/">Nicole Fenton</a> Architecture, content strategy</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://www.iamdavedawson.com/">Dave Dawson</a> User experience, design system</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://alliwagner.com/">Allison Wagner</a> Front-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://abbyfretz.com/">Abby Fretz</a> Project management, project definition</li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Typefaces</p>
      <p class="sans-s">Times New Roman, Source Code Pro, Arial</p>
    </div>
  </div>
{% endif %}

{% if page.short-name contains "inet" %}
  <div class="project-credits spacing-m">
    <p class="post-meta-source">Designed at <a href="http://happycog.com/">Happy Cog</a></p>
    <div>
      <p class="sans-xs-bold-all-caps">Live site</p>
      <p class="sans-s"><a href="http://ineteconomics.org/ ">ineteconomics.org</a></p>
    </div>
    <div class="collaborators">
      <p class="sans-xs-bold-all-caps">Collaborators</p>
      <ul class="spacing-xxs">
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://www.jasondziak.com/">Jason Dziak</a> Project definition</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://sophieshepherd.com/">Sophie Shepherd</a> Project definition, design concept</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="https://www.sarawb.com/">Sara Wachter-Boettcher</a> Content strategy</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="https://twitter.com/markhuot">Mark Huot</a> Front-end development, back-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://abbyfretz.com/">Abby Fretz</a> Project management</li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Typefaces</p>
      <p class="sans-s">Atlas Grotesk, Freight Text Pro</p>
    </div>
  </div>
{% endif %}

{% if page.short-name contains "hes" %}
  <div class="project-credits spacing-m">
    <p class="post-meta-source">Designed at <a href="http://happycog.com/">Happy Cog</a></p>
    <div>
      <p class="sans-xs-bold-all-caps">Live site</p>
      <p class="sans-s"><a href="https://www.extension.harvard.edu/ ">extension.harvard.edu</a></p>
    </div>
    <div class="collaborators">
      <p class="sans-xs-bold-all-caps">Collaborators</p>
      <ul class="spacing-xxs">
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://mleland.com/">Michael Johnson</a> Project definition, creative direction</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://danapavlichko.com/">Dana Pavlichko</a> User experience, design system</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://stephencaver.com/">Stephen Caver</a> Front-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="https://twitter.com/allisin">Allison Fegel</a> Project management</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://brettharned.com/">Brett Harned</a> Project management</li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Typefaces</p>
      <p class="sans-s">Tablet Gothic, Utopia</p>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Published elsewhere</p>
      <ul>
        <li><a href="https://pv.webbyawards.com/2016/mobile-sites-apps/general-sites-apps/schooluniversity">Webby Honoree in School/University Mobile Sites &amp; Apps</a> (2016)</li>
      </ul>
    </div>
  </div>
{% endif %}

{% if page.short-name contains "nrt" %}
  <div class="project-credits spacing-m">
    <p class="post-meta-source">Designed at <a href="http://happycog.com/">Happy Cog</a></p>
    <div>
      <p class="sans-xs-bold-all-caps">Live site</p>
      <p class="sans-s"><a href="http://coldwellbankerhomes.com/">coldwellbankerhomes.com</a></p>
    </div>
    <div class="collaborators">
      <p class="sans-xs-bold-all-caps">Collaborators</p>
      <ul class="spacing-xxs">
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://patrickmarsceill.com/">Patrick Marsceill</a> Project definition, user experience, usability testing</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://www.antnguyen.com/">Anthony Nguyen</a> User experience, design concept</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://www.stephaniehay.com/">Stephanie Hay</a> Architecture, content strategy</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://alliwagner.com/">Allison Wagner</a> Front-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://samhernandez.me/">Sam Hernandez</a> Front-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="https://about.me/katiehigh">Katie High</a> Project management</li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Typefaces</p>
      <p class="sans-s">Whitney</p>
    </div>
  </div>
{% endif %}

{% if page.short-name contains "harvard" %}
  <div class="project-credits spacing-m">
    <p class="post-meta-source">Designed at <a href="http://happycog.com/">Happy Cog</a></p>
    <div>
      <p class="sans-xs-bold-all-caps">Live site</p>
      <p class="sans-s"><a href="http://college.harvard.edu/">college.harvard.edu</a></p>
    </div>
    <div class="collaborators">
      <p class="sans-xs-bold-all-caps">Collaborators</p>
      <ul class="spacing-xxs">
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://mleland.com/">Michael Johnson</a> Project definition, architecture, design concept, creative direction</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="https://www.sarawb.com/">Sara Wachter-Boettcher</a> Project definition, architecture, content strategy &amp; writing</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://www.chriscashdollar.com/">Chris Cashdollar</a> Project definition</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://meghanseawell.com/">Meghan Seawell</a> Writing</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://brandonrosage.com/">Brandon Rosage</a> Front-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="https://twitter.com/markhuot">Mark Huot</a> Back-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://samhernandez.me/">Sam Hernandez</a> Back-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="https://twitter.com/allisin/">Allison Fegel</a> Project management</li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Typefaces</p>
      <p class="sans-s">Arial, Georgia</p>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Published elsewhere</p>
      <ul>
        <li>Confab Central, <a href="http://www.slideshare.net/Saraboettcher/all-together-now-content-collaboration-in-a-responsive-redesign">“All Together Now: Content & Collaboration in a Responsive Redesign”</a> (5/14)</li>
      </ul>
    </div>
  </div>
{% endif %}

{% if page.short-name contains "garces" %}
  <div class="project-credits spacing-m">
    <p class="post-meta-source">Designed at <a href="http://happycog.com/">Happy Cog</a></p>
    <div>
      <p class="sans-xs-bold-all-caps">Live site</p>
      <p class="sans-s"><a href="http://philadelphi.garcesevents.com/">philadelphia.garcesevents.com</a></p>
    </div>
    <div class="collaborators">
      <p class="sans-xs-bold-all-caps">Collaborators</p>
      <ul class="spacing-xxs">
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://patrickmarsceill.com/">Patrick Marsceill</a> Architecture &amp; user experience, content strategy</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://www.jasonhead.com/">Jason Head</a> Front-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://alliwagner.com/">Allison Wagner</a> Front-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="https://about.me/katiehigh">Katie High</a> Project management</li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Typefaces</p>
      <p class="sans-s">Freight Display, DIN Condensed, Abril Text</p>
    </div>
  </div>
{% endif %}

{% if page.short-name contains "bj" %}
  <div class="project-credits spacing-m">
    <p class="post-meta-source">Designed at <a href="http://happycog.com/">Happy Cog</a></p>
    <div>
      <p class="sans-xs-bold-all-caps">Live site</p>
      <p class="sans-s"><a href="http://benjerry.com/">benjerry.com</a></p>
    </div>
    <div class="collaborators">
      <p class="sans-xs-bold-all-caps">Collaborators</p>
      <ul class="spacing-xxs">
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://www.chriscashdollar.com/">Chris Cashdollar</a> Project definition, creative direction</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://sophieshepherd.com/">Sophie Shepherd</a> Project definition, architecture &amp; user experience</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="https://twitter.com/allisin">Allison Fegel</a> Project management, project definition</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://www.stephaniehay.com/">Stephanie Hay</a> Content strategy</li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Published elsewhere</p>
      <ul>
        <li>Happy Cog, <a href="http://happycog.com/work/benjerrys">“A Responsive Design System for a Frozen Dreamland”</a></li>
        <li>Crush &amp; Lovely, <a href="http://crushlovely.com/project-stories/benjerry/">“Vermont&rsquo;s Finest”</a></li>
      </ul>
    </div>
  </div>
{% endif %}

{% if page.short-name contains "kaplan" %}
  <div class="project-credits spacing-m">
    <p class="post-meta-source">Designed at <a href="http://happycog.com/">Happy Cog</a></p>
    <div class="collaborators">
      <p class="sans-xs-bold-all-caps">Collaborators</p>
      <ul class="spacing-xxs">
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://www.chriscashdollar.com/">Chris Cashdollar</a> Project definition, creative direction</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://jessicaivins.net/">Jessica Ivins</a> Project definition, architecture</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://patrickmarsceill.com/">Patrick Marsceill</a> Architecture &amp; user experience</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://www.stephaniehay.com/">Stephanie Hay</a> Content strategy</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://mleland.com/">Michael Johnson</a> Design concept, creative direction</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://stephencaver.com/">Stephen Caver</a> Front-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://jasonweaver.name/">Jason Weaver</a> Front-end development</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://brettharned.com/">Brett Harned</a> Project management</li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Typefaces</p>
      <p class="sans-s">Meta, Facit</p>
    </div>
  </div>
{% endif %}

{% if page.short-name contains "fb" %}
  <div class="project-credits spacing-m">
    <div>
      <p class="sans-xs-bold-all-caps no-source">Live site</p>
      <p class="sans-s"><a href="http://www.fontbureau.com/ReadingEdge/">fontbureau.com/ReadingEdge/</a></p>
    </div>
    <div class="collaborators">
      <p class="sans-xs-bold-all-caps">Collaborators</p>
      <ul class="spacing-xxs">
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://nicksherman.com/">Nick Sherman</a> Creative direction, typography consultation</li>
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://chrissam42.com/">Chris Lewis</a> Front-end development</li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Typefaces</p>
      <p class="sans-s">Antenna, Antenna RE, Ibis RE</p>
    </div>
  </div>
{% endif %}

{% if page.short-name contains "tc" %}
  <div class="project-credits spacing-m">
    <p class="post-meta-source">Designed at <a href="http://mica.edu">Maryland Institute College of Art</a></p>
    <div>
      <p class="sans-xs-bold-all-caps">Live site</p>
      <p class="sans-s"><a href="http://typeconnection.com/">typeconnection.com</a></p>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Typefaces</p>
      <p class="sans-s">FF Tisa</p>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Related writing</p>
      <ul>
        <li><a href="{% post_url 2012-05-23-pairing-typefaces %}">Pairing Typefaces</a></li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Published elsewhere</p>
      <ul>
        <li>Mohawk’s Felt &amp; Wire, <a href="http://www.mohawkconnects.com/feltandwire/2012/04/11/have-you-made-a-type-connection/">“Have you made a type connection?”</a> (4/11/12)</li>
        <li>Abovethefoldbook.com, <a href="http://abovethefoldbook.com/interview-with-above-the-fold-best-in-show-winner-aura-seltzer/">“Interview with 2012 Above the Fold Best in Show Winner, Aura Seltzer”</a></li>
        <li>How Magazine, <a href="http://www.howdesign.com/design-creativity/type-connection-typography-game/">“Above the Fold Awards Winner: Type Connection”</a> (6/29/12)</li>
        <li>Typorn.org, <a href="http://www.typorn.org/article/interview-aura-seltzer-her-amazing-typographic-dating-game">“An interview with Aura Seltzer on her amazing typographic dating game”</a> (7/15/14)</li>
      </ul>
    </div>
  </div>
{% endif %}

{% if page.short-name contains "nea" %}
  <div class="project-credits spacing-m">
    <p class="post-meta-source">Designed at <a href="http://mica.edu">Maryland Institute College of Art</a>&rsquo;s Center for Design Practice (now <a href="http://www.micasocialdesign.com/">Center for Social Design)</a></p>
    <div class="collaborators">
      <p class="sans-xs-bold-all-caps">Collaborators</p>
      <ul class="spacing-xxs">
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://laurenpadams.com/">Lauren P. Adams</a></li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Typefaces</p>
      <p class="sans-s">Avenir, Univers, Wilke Black, Gotham Rounded (Book), Chaparral Pro (Book)</p>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Related writing</p>
      <ul>
        <li><a href="https://issuu.com/laurentrish/docs/supplyingdemand">Project summary book</a></li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Published elsewhere</p>
      <ul>
        <li>An abridged version of our findings was published in <em>The Research Journal of the Maryland Institute College of Art</em> (Fall 2011).</li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Related media coverage</p>
      <ul>
        <li><em>The Baltimore Sun</em>, <a href="http://www.baltimoresun.com/bs-mtblog-2011-10-citys_virtual_supermarket_gets-story.html">“City's ‘virtual supermarket’ gets national recognition”</a> (10/17/2011)</li>
        <li><em>Bloomberg Businessweek</em>, <a href="https://www.bloomberg.com/news/articles/2012-08-23/fresh-relief-for-baltimores-food-deserts">“Fresh Relief for Baltimore’s Food Deserts”</a> (8/23/2012)</li>
        <li><em>The Baltimore Times</em>, <a href="http://baltimoretimes-online.com/news/2013/aug/30/virtual-supermarket-program-baltimore-success/">“Virtual Supermarket Program in Baltimore a success”</a> (8/30/2013)</li>
      </ul>
    </div>
  </div>
{% endif %}

{% if page.short-name contains "overnine" %}
  <div class="project-credits spacing-m">
    <p class="post-meta-source">Designed at <a href="http://mica.edu">Maryland Institute College of Art</a></p>
    <div class="collaborators">
      <p class="sans-xs-bold-all-caps">Collaborators</p>
      <ul class="spacing-xxs">
        <li class="sans-s-italic"><a class="sans-s-bold" href="http://www.jessicakarle.com/">Jessica Karle</a></li>
      </ul>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Typefaces</p>
      <p class="sans-s">Champion, Kepler</p>
    </div>
    <div>
      <p class="sans-xs-bold-all-caps">Published elsewhere</p>
      <ul>
        <li>FPO Awards 2011 (4-star Rank for Offset Printing), <a href="http://underconsideration.com/fpoawards/online/2011/zine-for-self-promotion-by-jessica-karle-heltzel-and-aura-seltzer/">“Zine for Self-promotion by Jessica Karle Heltzel and Aura Seltzer”</a></li>
      </ul>
    </div>
  </div>
{% endif %}

{% if page.short-name contains "spread" %}
  <div class="project-credits spacing-m">
    <p class="post-meta-source">Designed at <a href="http://mica.edu">Maryland Institute College of Art</a></p>
    <div>
      <p class="sans-xs-bold-all-caps">Typefaces</p>
      <p class="sans-s">Akzidenz-Grotesk, Bulmer, Neutraface Slab</p>
    </div>
  </div>
{% endif %}
