//Homepage bio header

.bio-header {
  margin: 0 -9999rem;
  padding: $spacing-xxl 9999rem 1px;
  background-color: $cream;
  @include breakpoint($q-small) {
    padding-top: $spacing-xxxl;
  }
  @include breakpoint($q-medium) {
    padding-top: $spacing-xxxxl;
  }
  @include breakpoint($q-xxlarge) {
    margin-top: $spacing-l;
    &:before {
      content: '';
      background-color: #ffffff;
      width: $spacing-l;
      height: 1500px;
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
    }
    &:after {
      content: '';
      background-color: #ffffff;
      width: $spacing-l;
      height: 1500px;
      display: block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }
  @include breakpoint($q-xxxlarge) {
    padding-top: $spacing-vxl;
  }
  .serif-l {
    @include breakpoint($q-small) {
      width: 85%;
    }
    @include breakpoint($q-medium) {
      width: 75%;
    }
  }
 }

.link-to-bio {
  margin-bottom: $spacing-xxl;
  @include breakpoint($q-xlarge) {
    margin-bottom: $spacing-xxxxl;
  }
  @include breakpoint($q-xxxlarge) {
    margin-bottom: $spacing-vl;
  }
  a {
    color: $text-color;
  }
}

.about {
  display: none;
  padding-bottom: $spacing-xxl;
  @extend %clearfix;
  @include breakpoint($q-small) {
    padding-bottom: $spacing-xxxl;
  }
}

.show-more:after, .show-less:after {
  content: url("../../../../a/img/arrow-down.svg");
  display: inline-block;
  width: 10px;
  margin-left: $spacing-xs;
}

.show-less:after {
  content: url("../../../../a/img/arrow-up.svg");
}

.show-less {
  display: none;
}

.display {
  display: block;
}

.bio p, .speaking {
  @include breakpoint($q-large) {
    width: 80%;
  }
}

.bio {
  @include breakpoint($q-large) {
    padding-bottom: $spacing-xl;
    border-bottom: 1px solid rgba(0,0,0,.12);
    margin-bottom: $spacing-xxl;
  }
  @include breakpoint($q-xxxlarge) {
    margin-bottom: $spacing-xl;
  }
}

.speaking, .topics, .interviews {
  ul {
      list-style-type: none;
      margin-left: 0;
      li {
        line-height: 14px;
        @include breakpoint($q-large) {
          line-height: 20px;
        }
        .sans-s-bold {
          padding-right: 5px;
        }
        a {
          color: $text-color;
          &:hover {
            color: $link-color;
          }
        }
        .sans-s {
          display: block;
        }
      }
  }
}

.speaking {
  @include breakpoint($q-xxxlarge) {
    width: 50%;
    float: left;
  }
}

.topics {
  ul {
    li:before {
    	content: "-";
      color: rgba(0,0,0,0.3);
      font-weight: bold;
      display: inline-block;
      margin-left: -10px;
    	width: 10px;
      @include breakpoint($q-medium) {
        margin-left: -15px;
        width: 15px;
      }
    }
    li { // slightly more indented than the project credits li
      padding-left: 10px;
      @include breakpoint($q-medium) {
        padding-left: 15px;
      }
    }
  }
  @include breakpoint($q-large) {
    width: 50%;
    float: left;
  }
  @include breakpoint($q-xxxlarge) {
    float: right;
    width: 45%;
    margin-left: 5%;
  }
}

.interviews {
  @include breakpoint($q-large) {
    width: 45%;
    margin-left: 5%;
    float: right;
  }
}



//Post list

.post-list {
    margin-top: $spacing-xxl;
    margin-bottom: $spacing-xxl;
    margin-left: 0;
    list-style: none;
    @include breakpoint($q-xlarge) {
      margin-top: $spacing-xxxl;
    }
    > li {
      border-bottom: 1px solid rgba(0,0,0,.12);
      padding-bottom: $spacing-l;
      @include breakpoint($q-small) {
        padding-bottom: $spacing-xl;
      }
      @include breakpoint($q-large) {
        padding-bottom: $spacing-m;
      }
      @include breakpoint($q-xlarge) {
        padding-bottom: $spacing-xl;
      }
      @extend %clearfix;
    }
    > li:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.post-list {
  li:nth-of-type(1) {.post-link {color: #40071f;}}
  li:nth-of-type(2) {.post-link {color: #480720;}}
  li:nth-of-type(3) {.post-link {color: #510721;}}
  li:nth-of-type(4) {.post-link {color: #580723;}}
  li:nth-of-type(5) {.post-link {color: #620724;}}
  li:nth-of-type(6) {.post-link {color: #6a0726;}}
  li:nth-of-type(7) {.post-link {color: #730728;}}
  li:nth-of-type(8) {.post-link {color: #720d2a;}}
  li:nth-of-type(9) {.post-link {color: #88142c;}}
  li:nth-of-type(10) {.post-link {color: #931d2f;}}
  li:nth-of-type(11) {.post-link {color: #9f2732;}}
  li:nth-of-type(12) {.post-link {color: #ac3134;}}
  li:nth-of-type(13) {.post-link {color: #b73d38;}}
  li:nth-of-type(14) {.post-link {color: #c5493b;}}
  li:nth-of-type(15) {.post-link {color: #d3573f;}}
  li:nth-of-type(16) {.post-link {color: #de6242;}}
  li:nth-of-type(17) {.post-link {color: #e96f46;}}
  li:nth-of-type(18) {.post-link {color: #f37c4c;}}
  li:nth-of-type(19) {.post-link {color: #f88450;}}
  li:nth-of-type(20) {.post-link {color: #fb8d56;}}
  li:nth-of-type(21) {.post-link {color: #fc915a;}}
  li:nth-of-type(22) {.post-link {color: #fb965f;}}
  li:nth-of-type(23) {.post-link {color: #f79965;}}
  li:nth-of-type(24) {.post-link {color: #f29c6c;}}
  li:nth-of-type(25) {.post-link {color: #ec9e71;}}
  li:nth-of-type(26) {.post-link {color: #e4a077;}}
  li:nth-of-type(27) {.post-link {color: #dca17f;}}
  li:nth-of-type(28) {.post-link {color: #d2a385;}}
  li:nth-of-type(29) {.post-link {color: #c4a38f;}}
}

.post-link {
    text-decoration: none;
    transition: all 0.4s ease;
    &:hover {
      color: $link-hover-color !important;
    }
}

.post-meta-subtitle {
  display: block;
}

.post-short-description {
  margin-bottom: $spacing-s;
  display: none;
  @include breakpoint($q-medium) {
    display: block;
  }
  @include breakpoint($q-large) {
    display: inline-block;
    float: left;
    width: 75%;
  }
  @include breakpoint($q-xlarge) {
    width: 77%;
  }
  @include breakpoint($q-xxxlarge) {
    width: 72%;
  }
}

.post-meta-source { // same as sans-s-bold except stays small at $q-medium
  @include fort;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  @include breakpoint($q-medium) {
    display: block;
  }
  .post-list & {
    @include breakpoint($q-large) {
      display: inline-block;
      float: left;
      width: 75%;
    }
  }
  @include breakpoint($q-xlarge) {
    font-size: 14px;
    line-height: 20px;
  }
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $text-color;
    }
  }
}

p.back-link {
  @include fort;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $text-color;
    }
  }
  @include breakpoint($q-small) {
    padding-bottom: $spacing-s;
  }
  @include breakpoint($q-medium) {
    padding-bottom: $spacing-l;
    margin-left: -9px;
  }
  @include breakpoint($q-xlarge) {
    font-size: 14px;
    line-height: 20px;
  }
  @include breakpoint($q-xxxlarge) {
    position: absolute;
    top: 40px;
    left: 50px;
  }
}

.post-meta-category { // same as sans-s-bold except stays small at $q-medium
  @include fort;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: $text-color;
  text-transform: capitalize;
  margin-right: 5px;
  display: inline-block;
  @include breakpoint($q-large) {
    display: block;
    text-align: right;
    margin-right: 0;
  }
  @include breakpoint($q-xlarge) {
    font-size: 14px;
    line-height: 20px;
  }
  a {
    color: $text-color;
    text-decoration: underline;
    &:hover {
      color: $link-color;
    }
  }
}

.post-meta-date { // same as sans-s except stays small at $q-medium
  @include fort;
  font-size: 12px;
  line-height: 16px;
  color: $gray;
  display: inline-block;
  @include breakpoint($q-large) {
    display: block;
    text-align: right;
  }
  @include breakpoint($q-xlarge) {
    font-size: 14px;
    line-height: 20px;
  }
}


// Posts

.post {

  p.sans-xs-bold-all-caps {
    @extend .sans-xs-bold-all-caps;
  }
  p.sans-s {
    @extend .sans-s;
  }
  p.sans-s-italic {
    @extend .sans-s-italic;
  }
  p.sans-s-bold {
    @extend .sans-s-bold;
  }

  p.post-meta-source { // same as sans-s-bold except stays small at $q-medium
    @include fort;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    @include breakpoint($q-xlarge) {
      font-size: 14px;
      line-height: 20px;
    }
    color: $gray;
    a {
      color: $gray;
      &:hover {
        color: $text-color;
      }
    }
  }

  .post-header {
    margin: 0 -9999rem;
    padding: $spacing-l 9999rem $spacing-l;
    background-color: $cream;
    @include breakpoint($q-small) {
      padding-top: $spacing-xxl;
    }
    @include breakpoint($q-medium) {
      padding-bottom: $spacing-xxl;
    }
    @include breakpoint($q-xxlarge) {
      margin-top: $spacing-l;
      &:before {
        content: '';
        background-color: #ffffff;
        width: $spacing-l;
        height: 500px;
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
      }
      &:after {
        content: '';
        background-color: #ffffff;
        width: $spacing-l;
        height: 500px;
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
    }
    .post-subtitle-title {
      @include breakpoint($q-xxxlarge) {
        margin-top: $spacing-vl;
      }
    }
    .post-title, .post-meta-subtitle {
      color: #40071f;;
    }
    .post-title {
      padding-bottom: $spacing-m;
      border-bottom: 1px solid rgba(0,0,0,.12);
      margin-bottom: $spacing-xs;
      @include breakpoint($q-small) {
        padding-bottom: $spacing-l;
      }
      @include breakpoint($q-xlarge) {
        padding-bottom: $spacing-xxl;
      }
      h1 {
        @include breakpoint($q-small) {
          width: 80%;
        }
        @include breakpoint($q-xxxlarge) {
          width: 90%;
        }
      }
    }
    .post-meta-category { // same as sans-s-bold except stays small at $q-medium
      @include fort;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 0;
      padding-bottom: 0;
      color: $text-color;
      text-transform: capitalize;
      margin-right: 5px;
      display: inline-block;
      @include breakpoint($q-xlarge) {
        font-size: 14px;
        line-height: 20px;
      }
      a {
        color: $text-color;
        text-decoration: underline;
        &:hover {
          color: $link-color;
        }
      }
    }
    .post-meta-date { // same as sans-s except stays small at $q-medium
      @include fort;
      font-size: 12px;
      line-height: 16px;
      color: $gray;
      display: inline-block;
      padding-right: $spacing-m;
      margin-bottom: 0;
      @include breakpoint($q-xlarge) {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .post-meta-role {
      @include fort;
      font-style: italic;
      font-size: 12px;
      line-height: 16px;
      margin-top: $spacing-xs;
      @include breakpoint($q-small) {
        max-width: 60%;
      }
      @include breakpoint($q-xlarge) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

// post longform markdown classes

.post {
  h1 { @extend .sans-xl-bold; }

  h2 {
    @extend .sans-l-bold;
    margin-bottom: $spacing-s;
  }

  h3 {
    @extend .sans-m-bold;
    margin-bottom: $spacing-xxs;
  }

  h2 + h3 {
    margin-top: $spacing-m;
  }

  p {
    @extend .serif-s;
    margin-bottom: $spacing-m;
    strong {
      font-family: "Fort", Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
  }
  .caption {
    @extend .sans-s-bold;
    em {
      font-weight: normal;
      font-style: normal;
    }
  }

  p + h2 {
    margin-top: $spacing-l;
    @include breakpoint ($q-xxxlarge) {
      margin-top: $spacing-xxl;
    }
  }

  p + h3 {
    margin-top: $spacing-m;
  }

  p + ol, p + ul {
    margin-top: $spacing-m;
    @include breakpoint($q-medium) {
      margin-top: $spacing-l;
    }
  }

  p + .fig-with-cap {
    margin-top: $spacing-l;
    @include breakpoint($q-medium) {
      margin-top: $spacing-xxl;
    }
  }

  ol, ul {
    @extend .sans-s;
    list-style-type: none;
    margin-bottom: $spacing-m;
    @include breakpoint($q-medium) {
      margin-bottom: $spacing-l;
    }
    li {
      margin-bottom: $spacing-s;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  ul {
    li:before {
    	content: "-";
      color: rgba(0,0,0,0.3);
      font-weight: bold;
      display: inline-block;
      margin-left: -10px;
    	width: 10px;
      @include breakpoint($q-medium) {
        margin-left: -15px;
        width: 15px;
      }
    }
    li {
      padding-left: 10px;
      @include breakpoint($q-medium) {
        padding-left: 30px;
      }
      ul {
        margin-top: $spacing-xs;
      }
    }
  }

  ol {
    li {
      counter-increment: step-counter;
      position: relative;
      margin-left: 0;
      padding-left: 30px;
      &:before {
        content: counter(step-counter);
        color: $gray;
        font-weight: bold;
        width: 20px;
        text-align: right;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  ol + h2, ul + h2, .fig-with-cap + h2 {
    margin-top: $spacing-l;
    @include breakpoint ($q-xxxlarge) {
      margin-top: $spacing-xxl;
    }
  }

  ol + h3, ul + h3, .fig-with-cap + h3 {
    margin-top: $spacing-m;
  }

}

.post-content {
    margin-top: $spacing-l;
    margin-bottom: $spacing-l;
    @include breakpoint($q-medium) {
      margin-top: $spacing-xl;
      margin-bottom: $spacing-xl;
    }
    @include breakpoint($q-xlarge) {
      margin-top: $spacing-xxxl;
    }
    p, ul, ol, h2, h3 {
      @include breakpoint($q-large) {
        width: 90%;
      }
      @include breakpoint($q-xlarge) {
        width: 80%;
      }
      @include breakpoint($q-xxxlarge) {
        width: 70%;
      }
    }
}

.fig-with-cap {
  clear: left;
  position: relative;
  margin-bottom: $spacing-l;
  @include breakpoint($q-medium) {
    margin-bottom: $spacing-xxl;
  }
  figure {
    margin-bottom: $spacing-m;
  }
  .background-image {
    background-image: url("../../../../a/img/nrt-06.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .carousel {
    border: 1px solid rgba(0,0,0,0.12);
    margin-bottom: $spacing-xs;
  }
  figure, .carousel {
    @include breakpoint($q-xlarge) {width: 90%; margin-bottom: $spacing-l;}
    @include breakpoint($q-xxlarge) {width: 80%;}
    @include breakpoint($q-xxxlarge) {width: 70%; margin-bottom: $spacing-xxxl;}
  }
  .caption { // refers to the div enclosing slideshow arrows + caption as well as the figcaption class if solo
    position: relative;
    @include breakpoint($q-large) {
      width: 90%;
    }
    @include breakpoint($q-xlarge) {
      width: 80%;
    }
    @include breakpoint($q-xxxlarge) {
      width: 28%;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: -6px;
      .carousel-arrows + figcaption {
        margin-bottom: 40px;
      }
    }
  }
}

#carousel-1, #carousel-2, #carousel-3 {
  @extend .carousel;
}

.carousel-arrows {
  display: block;
  height: 30px;
  margin-bottom: $spacing-xs;
  @include breakpoint($q-xlarge) {
    width: 60px;
    height: 60px;
    float: left;
  }
  @include breakpoint($q-xxxlarge) {
    position: absolute;
    bottom: -10px;
    height: auto;
    margin-bottom: 40px;
  }
  .slick-prev {
    height: 30px;
    width: 15px;
    top: 15px;
    left: 42%;
    @include breakpoint($q-small) {
      left: 44%;
    }
    @include breakpoint($q-medium) {
      left: 46%;
    }
    @include breakpoint($q-large) {
      left: 0px;
    }
    @include breakpoint($q-xxxlarge) {
      left: 0;
      bottom: 0;
    }
    &:before {
      content: "<";
    }
  }
  .slick-next {
    height: 30px;
    width: 15px;
    top: 15px;
    left: 54%;
    @include breakpoint($q-small) {
      left: 53%;
    }
    @include breakpoint($q-medium) {
      left: 52%;
    }
    @include breakpoint($q-large) {
      left: 25px;
    }
    @include breakpoint($q-xxxlarge) {
      left: 30px;
      bottom: 0;
    }
    &:before {
      content: ">";
    }
  }
  .slick-prev:before, .slick-next:before {
    @include fort;
    font-weight: bold;
    font-size: 35px;
    line-height: 1;
    color: $black;
    top: 0px;
    left: 0px;
    position: absolute;
    @include breakpoint($q-xxxlarge) {
      left: 0px;
      bottom: 0px;
    }
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
      color: $link-hover-color;
  }
}

#carousel-arrows-1, #carousel-arrows-2, #carousel-arrows-3 {
  @extend .carousel-arrows;
}

.scrollable {
  overflow: hidden;
  @include breakpoint($q-large) {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.full-width-image { // for full-width comps
  width: 100%;
  border: 1px solid rgba(0,0,0,0.12);
  @include breakpoint($q-small) {
    max-height: 450px;
  }
  @include breakpoint($q-medium) {
    max-height: 650px;
  }
}

.full-width-image-short { // for full-width comps that have a shorter max-height
  width: 100%;
  border: 1px solid rgba(0,0,0,0.12);
  max-height: 245px;
  @include breakpoint($q-small) {
    max-height: 300px;
  }@include breakpoint($q-small-medium) {
    max-height: 380px;
  }
  @include breakpoint($q-medium) {
    max-height: 450px;
  }
  @include breakpoint($q-xlarge) {
    max-height: 500px;
  }
  @include breakpoint($q-xxxlarge) {
    max-height: 550px;
  }
}

.center-image { // for small screen comps
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.12);
  margin-left: auto;
  margin-right: auto;
  @include breakpoint($q-xsmall) {
    max-height: 450px;
    width: 65%;
  }
  @include breakpoint($q-small) {
    width: 50%;
  }
  @include breakpoint($q-medium) {
    width: 40%;
    max-height: 500px;
  }
  @include breakpoint($q-large) {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  @include breakpoint($q-xlarge) {
    border: 0;
    margin-left: 0;
    margin-right: 0;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($q-xlarge) {
      border: 1px solid rgba(0,0,0,0.12);
    }
  }
}

.border-bottom {
  @include breakpoint($q-xlarge) {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    img {
      border-bottom: 0;
    }
  }
}

.center-image-wider { // for full-width comps between 650-815px, no set height
  margin-left: 0;
  margin-right: 0;
  border: 1px solid rgba(0,0,0,0.12);
  @include breakpoint($q-medium) {
    border: 0;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($q-medium) {
      border: 1px solid rgba(0,0,0,0.12);
    }
  }
}

.visual {
  display: block;
}
.codepen {
  position: relative;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
  }
}
.codepen-1 {
  padding-bottom: 120%;
  @include breakpoint($q-small) {
    padding-bottom: 113%;
  }
  @include breakpoint($q-medium) {
    padding-bottom: 77%;
  }
  @include breakpoint($q-xlarge) {
    padding-bottom: 67%;
  }
  @include breakpoint($q-xxlarge) {
    padding-bottom: 59%;
  }
  @include breakpoint($q-xxxlarge) {
    padding-bottom: 53%;
  }
}
.codepen-2 {
  padding-bottom: 132%;
  @include breakpoint($q-small) {
    padding-bottom: 83%;
  }
  @include breakpoint($q-medium) {
    padding-bottom: 87%;
  }
  @include breakpoint($q-large) {
    padding-bottom: 80%;
  }
  @include breakpoint($q-xlarge) {
    padding-bottom: 72%;
  }
  @include breakpoint($q-xxlarge) {
    padding-bottom: 59%;
  }
  @include breakpoint($q-xxxlarge) {
    padding-bottom: 56%;
  }
}
.codepen-3 {
  padding-bottom: 166%;
  @include breakpoint($q-small) {
    padding-bottom: 106%;
  }
  @include breakpoint($q-medium) {
    padding-bottom: 103%;
  }
  @include breakpoint($q-large) {
    padding-bottom: 90%;
  }
  @include breakpoint($q-xlarge) {
    padding-bottom: 79%;
  }
  @include breakpoint($q-xxlarge) {
    padding-bottom: 70%;
  }
  @include breakpoint($q-xxxlarge) {
    padding-bottom: 56%;
  }
}

.post .post-meta-source {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: $spacing-s;
  margin-bottom: $spacing-m;
  @include breakpoint($q-medium) {
    padding-top: $spacing-m;
    margin-bottom: $spacing-l;
  }
  a {
    color: $gray;
    &:hover {
      color: $link-hover-color;
    }
  }
}

.caption + .project-credits {
  margin-top: $spacing-l;
  @include breakpoint($q-medium) {
    margin-top: $spacing-xl;
  }
}

.project-credits {
  a {
    color: $gray;
    &:hover {
      color: $link-hover-color;
    }
  }
  p {
    margin-bottom: 0;
  }
  p + ul {
    margin-top: $spacing-xxs;
    @include breakpoint($q-xlarge) {
      margin-top: $spacing-s;
    }
  }
  ul li {
    margin-bottom: 0;
  }
  .sans-s, .sans-s-italic, .sans-s-bold {
    @include breakpoint($q-medium) {
      font-size: 12px;
      line-height: 16px;
    }
    @include breakpoint($q-xlarge) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .collaborators {
    a {
      color: $black;
      padding-right: $spacing-xs;
      text-decoration: none;
      &:hover {
        color: $link-color;
      }
    }
  }
  .no-source {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: $spacing-s;
  }
}

// Listings

.list-header {
  margin: 0 -9999rem;
  padding: $spacing-l 9999rem $spacing-l;
  background-color: $cream;
  @include breakpoint($q-small) {
    padding-top: $spacing-xxl;
  }
  @include breakpoint($q-medium) {
    padding-bottom: $spacing-xxl;
  }
  @include breakpoint($q-xxlarge) {
    margin-top: $spacing-l;
    &:before {
      content: '';
      background-color: #ffffff;
      width: $spacing-l;
      height: 500px;
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
    }
    &:after {
      content: '';
      background-color: #ffffff;
      width: $spacing-l;
      height: 500px;
      display: block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }
}

.list-title {
  margin-top: $spacing-xs;
  @include breakpoint($q-medium) {
    margin-top: 0;
  }
  @include breakpoint($q-xlarge) {
    margin-bottom: $spacing-xs;
  }
  @include breakpoint($q-xxxlarge) {
    margin-top: 70px;
  }
}

//Site footer

.site-footer {
  padding-top: $spacing-m;
  @include breakpoint($q-medium) {
    padding-top: $spacing-xxl;
  }
}

.copyright {
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $link-hover-color;
    }
  }
}

.colophon {
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $link-hover-color;
    }
  }
}

.legal {
  width: 65%;
  float: left;
  @include breakpoint($q-large) {
    width: 70%;
  }
}

.social-media {
  width: 35%;
  float: right;
  @include breakpoint($q-large) {
    width: 30%;
  }
  .social-media-list {
    text-align: right;
    margin-left: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-left: $spacing-m;
      &:last-of-type {
        padding-right: 0;
      }
      @include breakpoint($q-xxlarge) {
        margin-left: $spacing-l;
      }
    }
  }
}
