<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/a/jquery-ui.min.js"></script> <!-- for easing transitions -->
    <script src="/a/jquery.fitvids.js"></script> <!-- for responsive video embeds -->
    <script type="text/javascript" src="/node_modules/slick-carousel/slick/slick.min.js"></script> <!-- for carousels -->

    <script>
      $(document).ready(function(){
        $(".carousel").slick( {
          appendArrows: $(".carousel-arrows"),
          adaptiveHeight: true
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $("#carousel-1").slick( {
          appendArrows: $("#carousel-arrows-1"),
          adaptiveHeight: true
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $("#carousel-2").slick( {
          appendArrows: $("#carousel-arrows-2"),
          adaptiveHeight: true
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        $("#carousel-3").slick( {
          appendArrows: $("#carousel-arrows-3"),
          adaptiveHeight: true
        });
      });
    </script>

    <script>
      $(document).ready(function(){
        // Target your .container, .wrapper, .post, etc.
        $(".responsive-video").fitVids();
      });
    </script>

    <script>
      $( ".show-more" ).click(function() {
        $( ".about" ).slideToggle(700,"easeInOutSine");
        $( ".show-more").hide();
        $( ".show-less").show();
      });
      $( ".show-less" ).click(function() {
        $( ".about" ).slideToggle(700,"easeInOutSine");
        $( ".show-more").show();
        $( ".show-less").hide();
      });
    </script>

  </body>

</html>
