---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header spacing-xxs-s-at-medium">
    <p class="back-link">< <a href="/../../index.html">Back</a></p>
      {% if page.subtitle  %}
      <span class="serif-s-italic post-meta-subtitle">{{ page.subtitle}}</span>
      {% endif %}
      <div class="post-title">
        <h1 itemprop="name headline">{{ page.title }}</h1>
      </div>
    <div>
      <p class="post-meta-category"><a href="#">{{ page.categories }}</a></p>
      {% if page.categories contains "project" %}
      <p class="post-meta-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y" }}</time></p>
      {% endif %}
      {% if page.categories contains "article" %}
      <p class="post-meta-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-m/%-d/%y" }}</time></p>
      {% endif %}
      {% if page.categories contains "podcast" %}
      <p class="post-meta-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-m/%y" }}</time></p>
      {% endif %}
      {% if page.role %}
      <p class="post-meta-role">{{ page.role }}</p>
      {% endif %}
    </div>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}

  </div>

  {% if page.categories contains "project" %}
    {% include project-credits.html %}
  {% endif %}

  {% if page.source %}
  <p class="post-meta-source">Published on <a href="{{ page.source-url }}">{{ page.source }}</a></p>
  {% endif %}

</article>
